body {
	background: rgb(63, 57, 57);
}

.postcard {
	background-color: rgba(255, 255, 255, 0.8);
	width: 750px;
	height: 450px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	padding-left: 400px;
	width: 75px;
	height: 75px;
}

.postcard-header h1 {
	width: 400px;
	height: 50px;
}

.body-left {
	padding-right: 100px;
}

.body-left p:first-child {
	margin-top: none;
}

.body-right {
	padding-top: 50px;
	margin-left: 200;
}

p {
	font-size: 25px;
	padding: 5px;
}

input {
	border: none;
	border-bottom: grey;
	background: transparent;
	font-size: 18px;
	border-bottom: 1px solid grey;
	padding: 10px;
}

.body-left,
.body-right {
	padding: flex;
}

.postcard-body {
	size: 200px;
	display: flex;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: darkgray;
	padding: flex;
}
